# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [32]:
data={} #empty dictionary
type(data)

dict

In [33]:
data1=dict() #empty dictionary
type(data)

dict

In [34]:
data={'alabama':'montgomery',
     'arizona':'pheonix',
     'georgia':'atlanta',
     'kentucky':'frankfort',
     'ohio':'salem'}

In [35]:
print(data)
type(data)

{'alabama': 'montgomery', 'arizona': 'pheonix', 'georgia': 'atlanta', 'kentucky': 'frankfort', 'ohio': 'salem'}

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [36]:
day={1: 'monday',
    2:'tuesday',
    4:['thursday','friday'],
    5:('saturday','sunday')}

In [37]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [38]:
data['Kentucky']

'Frankfort'

In [39]:
data['Alabama']

'Montgomery'

In [40]:
data['louisiana'] #if you are accessing a kew that is not present, it rases key error

KeyError: 'louisiana'

### Update elements of a dictionary and add new elements

In [41]:
day={1: 'monday',
    2:'tuesday',
    4:['thursday','friday'],
    5:('saturday','sunday')}

In [42]:
day[1]

'monday'

In [43]:
day[4][1]

'friday'

In [44]:
day[5][0]

'saturday'

#### update values as key is unique and value is immutable

In [45]:
#update sunday to holiday
day[5][1]='holiday' # tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [46]:
#update thursday to holiday
day[4][0]='holiday'
day

{1: 'monday',
 2: 'tuesday',
 4: ['holiday', 'friday'],
 5: ('saturday', 'sunday')}

In [47]:
#update monday to holiday
day[1]='holiday'
day

{1: 'holiday',
 2: 'tuesday',
 4: ['holiday', 'friday'],
 5: ('saturday', 'sunday')}

### `get` and `update` methods

In [48]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [49]:
data.get('Arizona')

'Pheonix'

In [50]:
data.get('louisiana')

In [51]:
#update old value to new and add new key value pair
print(data)
data.update({'kentucky':'louisville', 'louisiana' : 'baton rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [52]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem', 'kentucky': 'louisville', 'louisiana': 'baton rouge'}

In [53]:
data.update({'alabama':'Montgomery'}) #only way to update key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem', 'kentucky': 'louisville', 'louisiana': 'baton rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [54]:
data
del data['alabama']

In [55]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem',
 'kentucky': 'louisville',
 'louisiana': 'baton rouge'}

In [57]:
del data['Ohio']
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'kentucky': 'louisville',
 'louisiana': 'baton rouge'}

In [59]:
deleted_state=data.pop('Arizona')
print('deleted state',deleted_state)

deleted state Pheonix

In [60]:
data

{'Alabama': 'Montgomery',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'kentucky': 'louisville',
 'louisiana': 'baton rouge'}

In [62]:
# delete montgomery
deleted_capital=data.pop('Alabama')
print(deleted_capital)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'kentucky': 'louisville', 'louisiana': 'baton rouge'}

In [63]:
del data #deleted entire dictionary
data

NameError: name 'data' is not defined

In [64]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [65]:
data={'alabama':'montgomery',
     'arizona':'pheonix',
     'georgia':'atlanta',
     'kentucky':'frankfort',
     'ohio':'salem'}

In [66]:
#number of element/value in a dictionary
len(data)

5

In [67]:
#extract keys
print(data.keys())

dict_keys(['alabama', 'arizona', 'georgia', 'kentucky', 'ohio'])

In [68]:
#extract value
print(data.values())

dict_values(['montgomery', 'pheonix', 'atlanta', 'frankfort', 'salem'])

In [69]:
#item/ key value pair
print(data.items())
type(data.items())

dict_items([('alabama', 'montgomery'), ('arizona', 'pheonix'), ('georgia', 'atlanta'), ('kentucky', 'frankfort'), ('ohio', 'salem')])

dict_items

### Loop through a dictionary

In [71]:
data

{'alabama': 'montgomery',
 'arizona': 'pheonix',
 'georgia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

In [72]:
# loop through the dictionary keys
for i in data.keys(): #unpack dict items
    print(i)
    print(type(i))

alabama
<class 'str'>
arizona
<class 'str'>
georgia
<class 'str'>
kentucky
<class 'str'>
ohio
<class 'str'>

In [73]:
for j in data.values():
    print(j)
    print('the capital is: ',j)

montgomery
the capital is:  montgomery
pheonix
the capital is:  pheonix
atlanta
the capital is:  atlanta
frankfort
the capital is:  frankfort
salem
the capital is:  salem

In [74]:
#looping through the dictionary item
for k in data.items():
    print(k)
    print(type(k))

('alabama', 'montgomery')
<class 'tuple'>
('arizona', 'pheonix')
<class 'tuple'>
('georgia', 'atlanta')
<class 'tuple'>
('kentucky', 'frankfort')
<class 'tuple'>
('ohio', 'salem')
<class 'tuple'>

In [75]:
#tuple unpacking
for i, j in data.items():
    print('state:',i, 'capital:',j)
    print(type(i), type(j))

state: alabama capital: montgomery
<class 'str'> <class 'str'>
state: arizona capital: pheonix
<class 'str'> <class 'str'>
state: georgia capital: atlanta
<class 'str'> <class 'str'>
state: kentucky capital: frankfort
<class 'str'> <class 'str'>
state: ohio capital: salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [76]:
data

{'alabama': 'montgomery',
 'arizona': 'pheonix',
 'georgia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

In [77]:
list(data.values())

['montgomery', 'pheonix', 'atlanta', 'frankfort', 'salem']

In [78]:
tuple(data.keys())

('alabama', 'arizona', 'georgia', 'kentucky', 'ohio')

### A List in a Dictionary

In [79]:
favorite_language={
    'Jen': ['python', 'ruby'],
    'Sarah':['C'],
    'Edward':['ruby','java'],
    'Phil':['Python','Haskell']
}

In [80]:
for name, languages in favorite_language.items():
    print('\n'+name.title()+"\'s favorite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t\t"+i.title())

Jen's favorite languages are:
				Python
				Ruby

Sarah's favorite languages are:
				C

Edward's favorite languages are:
				Ruby
				Java

Phil's favorite languages are:
				Python
				Haskell

###  A Dictionary in a Dictionary

In [81]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}
print(user)

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'}, 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [82]:
for username,user_info in user.items():
    print('\nUser Name:',username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print('the full name is: '+fullname.title())
    print('the location: ',location.title())

User Name: einstein
the full name is: Albert Einstein
the location:  Princeton

User Name: mcurie
the full name is: Marie Curie
the location:  Paris